.header {
  grid-area: header;
  background-image: url("https://i.pinimg.com/originals/6c/e2/c1/6ce2c1093bcc22aa3091d8018512638f.png");
  height: 400px;
  color: black;
}

.header .welcome {
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 40px;
  font-family: 'Circular', Avenir, sans-serif;
  font-weight: bold;
  padding: 20px;
}

.header .button {
  display: block;
  margin-top: 20px;
}