

.app-wrapper {
  display: grid;
  grid-template-areas:
  'header header header header'
  'menu main main main'
  'footer footer footer footer';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 4fr 2fr;

}



.app-content {
  grid-area: main;
  color: white;
  
}





