.load img {
    width: 200px
}

ul {
    white-space: nowrap;
  }
  
ul, li {
    list-style: none;
    display: inline;
  }

li {
    padding-right: 150px;
}

.auth {
  padding: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.781);
  height: 100%;
}


.formsControl.error textarea {
  border: solid red 2px;
}


.formsControl.error span, .auth_error {
  display: block;
  color: red
}

