.users {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.781);
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 700px;
  height: 150px;
  grid-gap: 50px;
}

.item2 {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  color: black;
  border-radius: 0.5rem;
  margin: 20px 0;
  font-size: 20px;
  font-family: "Circular", Avenir, sans-serif;
  font-weight: bold;
}

.item1 {
  padding: 20px;
  text-align: center;
}

.item1 img {
  border-radius: 50%;
  width: 100px;
}

.selectedPage {
  font-weight: bold;
  color: red;
}


span {
  padding: 2px;
  border: 1px solid grey;
}